.ps-stp {
  &__line {
    background: white;
  }
}

.active .bs-stepper-circle {
  background-color: #f5593d!important;
}

.step-passed {
  background-color: forestgreen;
}

.auth-btn {
  padding: 10px;
  width: 150px;
  cursor: pointer;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
