.ft-left-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.ft-center-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.ft-right-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
